h1 {
    color:navy;
    font-size: large;
}

body {
    background-color: rgb(255, 215, 221);
    
}

h2 {
    color:mediumpurple; 
}

p {
    color: navy;
}

text-area {
    width: 400px;

}

.header {
    background-color:powderblue;

}

.header > ul > li {
     color: rgb(99, 45, 185);
     float: left;
     list-style: none;
     padding: 20px;
}

.clear {
    clear: both;
}