h1 {
    color:slateblue;
    font-size: 40px;
}

.intro {
    text-align: center;
}

body {
    background-color: rgb(255, 255, 255);
    
}

h2, h4 {
    color:mediumpurple; 
    font-size: 30px;
}

p {
    color: navy;
}

.section-title {
      color: mediumpurple;
}

text-area {
    width: 400px;
    height: 800px;

}

.header {
    background-color:powderblue;
    height: 60px;

}

.header > ul > li {
     color: rgb(99, 45, 185);
     float: left;
     list-style: none;
     padding: 20px;
}

.clear {
    clear: both;
}

li {
    list-style: none;
    color: mediumpurple;
}

img {
    width: 300px;
    height: 400px;
    margin-right: 30px;

}

.comic-info {
    display: flex;
}

