h1 {
    color:navy;
    font-size: large;
}

body {
    background-color: rgb(255, 215, 221);
    
}

h2 {
    color:mediumpurple; 
}

p {
    color: navy;
}

.header-list {
    list-style: none;
    color:navy;
    float: left;
}

header {
    background-color:powderblue
    
}